<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>News</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
		<script src="js/mustache.js"></script>
	</head>
	<body>
	
		<div data-role="page" id="news" data-theme="a">
			<div data-role="header">
				<h1>News</h1>
			</div>
			<div data-role="content">
				<ul data-role="listview" data-filter="true" data-inset="true">
					<li><a href="#headlines"><img src="images/icon1.png">News Headlines</a></li>
					<li><a><img src="images/icon2.png">Opinion</a></li>
					<li><a><img src="images/icon3.png">Business</a></li>
				</ul>
			</div>
		</div>
		
		<div data-role="page" id="headlines" data-theme="a">
			<div data-role="header">
				<a href="#news" data-icon="home" data-iconpos="notext">Home</a>
				<h1>News Headlines</h1>
			</div>
			<div data-role="content">
				<ul id="stories" data-role="listview"></ul>
			</div>
		</div>
		
		<script>
			$('#headlines').on('pageshow', function(event) {
				$.getJSON('http://jqm.mamp.chandima.info/services/nprfeed.php?id=1001', renderHeadlines);
			});
			
			renderHeadlines = function(data) {
				template = '{{#item}}' + '<li><a href="{{link}}"><h4>{{title}}</h4></a></li>' + '{{/item}}';
				$('#stories').html( Mustache.to_html(template, data.channel) );
				$('#stories').listview('refresh');
			};
		</script>
	</body>
</html>